@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Figtree";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf")
      format("truetype-variations");
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype")
      tech("variations");
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
    font-stretch: 25% 151%;
  }
}
